#businesses {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 30px;
}

.businessCard {
  position: relative;
  width: 400px;
  height: 350px;
  border: 1px solid var(--font-color);
  box-shadow: 0 0 5px var(--font-color);
  background-color: white;
}

.businessCard:hover {
  box-shadow: 0 0 8px var(--blue-color);
  top: -3px;
}

.imgFrame {
  width: 400px;
  height: 300px;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--font-color);
}

.imgFrame > img {
  width: 400px;
  height: 300px;
}

.cardData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
  color: var(--font-color);
}

.cardData * {
  margin: 0;
}

.ratings {
  color: var(--bg-color);
  font-size: 32px;
  position: relative;
  margin: 0;
  padding: 0;
  text-shadow: 0 0 2px #000;
}
.full-stars {
  color: var(--trim-color);
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
}
.empty-stars {
  padding: 0;
  display: block;
  z-index: 0;
}
