.picText {
  display: flex;
}

.picText > * {
  width: 47.3vw;
  margin: 0 2vw;
}

.picText > img {
  border: 2px solid var(--trim-color);
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 1px 1px 3px var(--font-color);
}

.picText > p {
  padding: 3vw;
  box-sizing: border-box;
  font-size: large;
  font-weight: 600;
}

header {
  border-bottom: 2px solid lightgray;
  padding-bottom: 5px;
}
