#logo {
  border: 2px solid var(--font-color);
  border-radius: 3px;
  height: 5vw;
  max-height: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navlinks {
  display: flex;
  list-style: none;
  gap: 5px;
  justify-content: space-between;
  width: 70vw;
  padding-left: 2vw;
}

#navlinks > li > a {
  font-size: larger;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

#navlinks > li > a:hover {
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
}

.profile-dropdown {
  list-style: none;
  position: absolute;
  right: 0;
  background-color: #dfc581;
  margin: 3px;
  padding: 8px;
  border: 2px solid var(--trim-color);
  border-radius: 3px;
  box-shadow: 1px 2px 5px var(--font-color);
}

#profileButton {
  position: relative;
}

#logout {
  background-color: var(--bg-color);
  color: var(--red-color);
  border: 2px solid var(--red-color);
  box-shadow: 0 0 3px black;
}

#logout:hover {
  background-color: var(--red-color);
  color: var(--bg-color);
  border: 2px solid var(--bg-color);
}

.profile-dropdown > li {
  font-weight: 600;
  text-shadow: 0 0 3px var(--trim-color);
}
