#modal-content {
  border: 2px solid var(--trim-color);
  border-radius: 5px;
  box-shadow: 0 0 25px black;
  display: flex;
  flex-direction: column;
}

#modal-content > form {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  align-items: flex-end;
  gap: 5px;
  width: 20em;
}

#modal-content > form * {
  width: 100%;
}

#modal-content > form input,
#modal-content > form textarea {
  border: 2px solid var(--trim-color);
  border-radius: 5px;
}

#modal-content > form textarea {
  overflow-y: auto;
  height: 5em;
}
